table#weekend-report td{
  font-size: 1.4em;
}

table#weekend-report tr.program-names {
  font-size: 4.5em;
}

tr.program-names th input {
  width: 4.2em;
}

tr.program-names th select {
  background-color: #FFFFFF;
  border: 1px solid gray;
}