table#weekend-report td{
  font-size: 1.4em;
}

table#weekend-report td.program-name {
  font-size: 4.5em;
  font-weight: bold;
}

tr.program-names th input {
  width: 4.2em;
}

tr.program-names th select {
  background-color: #FFFFFF;
  border: 1px solid gray;
}