div#heading {
	border-bottom: 1px solid #ddd;
	margin-bottom: 0.8em;
}
.program-name {
	font-size: 3.3em;
	font-weight: bold;
}

div.program-row, div.history-row {
	padding-bottom: 0.8em;
	border-bottom: 1px solid #ddd;
	margin-bottom: 0.8em;
}

div.program-notes {
	font-size: 1.2em;
}

div.downtime-chart {
	padding-top: 1.2em;
}

div.history-plot text.mg-marker-text {
	font-size: 1.2em;
}

div.history-plot g.mg-x-axis text {
	font-size: 0.8em;
}

div.history-plot g.mg-y-axis text {
	font-size: 0.8em;
}

div.history-plot h2.mg-chart-title {
	margin-top: 0px;
}

div.program-notes table {
	margin-bottom: 0.8em;
}

div.program-notes table th {
	text-align: right;
	padding-right: 0.8em;
}

ul.notes-list {
	padding-left: 0px;
}

div.add {
  font-size: 1.2em;
}

div.downtime-inputs table th {
	text-align: right;
	padding-right: 0.8em;
}

div.downtime-inputs {
  font-size: 1.2em;
}

div.downtime-inputs span.import-downtime {
  font-size: 0.8em;
}

input.name {
  margin-bottom: 0.2em;
}

a.remove-program {
  float: right;
  font-size: 1.2em;
}

a.remove-plot {
  float: right;
  font-size: 1.2em;
}

input.other_note {
  width: 70%;
}