<div class="history-row row" data-plot-id="{{ report_item.id if report_item else '' }}">
  <input class="plot-number" type="hidden" name="history_plot" value="{{ report_item.id if report_item else '' }}">
  <input class="ordering-number" type="hidden" name="plot-order-{{ report_item.id if report_item else '' }}" value="{{ report_item.display_order if report_item else '' }}">
  <div class="col-sm-11">
    <div>
      <input class="plot-title" name="plot-title-{{ report_item.id if report_item else '' }}" placeholder="Enter a title" size="60" value="{{ report_item.title if report_item else '' }}">
    </div>
    <input class="pv" name="pv-{{ report_item.id if report_item else '' }}" placeholder="Enter a PV" size="40" value="{{ report_item.pv if report_item else '' }}"> <a class="plot-pv" href="#">Plot PV</a>
    <div class="event-container" {% if not report_item %}style="display: none;"{% endif %}>
      <div class="events">
      {% if report_item and report_item.events.count() > 0 %}
        {% for event in report_item.events %}
          <div class="add-event" data-plot-id="{{ report_item.id }}" data-event-id="{{ event.id }}">
              <input class="event-num" type="hidden" name="plot[{{ report_item.id }}]event" value="{{ event.id }}">
              <input class="event-text" name="plot[{{ report_item.id }}]event[{{ event.id }}]-text" placeholder="Event Text" value="{{ event.text }}"> 
              <input class="event-timestamp" name="plot[{{ report_item.id }}]event[{{ event.id }}]-timestamp" placeholder="Feb 22, 2015 13:30:00" value="{{ event.timestamp.strftime('%b %d, %Y %H:%M:%S')}}">
              <a class="remove-event" href="#" data-plot-id="{{ report_item.id }}" data-event-id="{{ event.id }}">Remove Event</a>
          </div>
        {% endfor %}
      {% else %}
        <div class="add-event">
          <input class="event-num" type="hidden" name="plot[{{ report_item.id if report_item else '' }}]event" value="">
          <input class="event-text" name="plot[{{ report_item.id if report_item else '' }}]event[]-text" placeholder="Event Text"> 
          <input class="event-timestamp" name="plot[{{ report_item.id if report_item else '' }}]event[]-timestamp" placeholder="Feb 22, 2015 13:30:00">
          <a class="remove-event" href="#">Remove Event</a>
        </div>
      {% endif %}
      </div>
      <a class="add-event" {% if report_item %}data-plot-id="{{ report_item.id }}"{% endif %} href="#">Add Event</a>
    </div>
  </div>
  <div class="col-sm-1">
    <a href="#" class="remove-plot">Remove</a>
  </div>
  <div class="col-sm-12">
    <div class="history-plot mg-main-area-solid" id="history-{{ report_item.id if report_item else '' }}">
      {% if report_item %}
      <script type="text/javascript">
      d3.json('http://lcls-archapp.slac.stanford.edu/retrieval/data/getData.json?pv=mean_360({{ report_item.pv }})&from={{ report_item.report.start.isoformat() }}.000Z&to={{report_item.report.end.isoformat()}}.000Z', function(data) {
        var time_series = data[0].data.map(function(item) {
          return {"date": new Date(item.secs * 1000), "val": item.val};
        });
        MG.data_graphic({
          title: "{{ report_item.title or report_item.pv }}",
          data: time_series,
          markers: [{% for event in report_item.events %}
            {'date': new Date('{{ event.utc_iso_string() }}'), 'label': '{{ event.text }}'},
                    {% endfor %}],
          width: 800,
          full_width: true,
          height: 260,
          target: '#history-{{ report_item.id }}',
          x_accessor: 'date',
          y_accessor: 'val',
          min_x: time_series[0].date,
          min_y: 0,
          area: true
        });
      });
      </script>
      {% endif %}
    </div>
  </div>
</div>