<div id="heading" class="row">
  <h3>New Weekend Report for <input id="start" name="start" type="date" placeholder="yyyy-mm-dd" size="9" value="{{ report.start.strftime('%m/%d/%Y') if report.start else '' }}"> at 8am to <input id="end" name="end" type="date" placeholder="yyyy-mm-dd" size="9" value="{{ report.end.strftime('%m/%d/%Y') if report.end else '' }}"> at 8am.{% if not report %} <a href="#" id="begin">Start</a>{% endif %}</h3>
</div>
<div id="report_items" class="row">
{% if report %}
  {% for report_item in report.report_items() %}
  {% if report_item.__tablename__ == 'program' %}
    {% include "program_form.html" %}
  {% endif %}
  {% if report_item.__tablename__ == 'history_plot' %}
    {% include "history_plot_form.html" %}
  {% endif %}
  {% endfor %}
{% endif %}
</div>
<div class="add row" {% if not report %}style="display:none;"{% endif %}>
  <div class="col-sm-12" style="text-align: right;">
    <a id="add-program" href="#">Add a program</a> | <a id="add-history-plot" href="#">Add a history plot</a> | <a id="submit-report" href="#">Submit report</a>
  </div>
</div>
<!-- Below are the blank templates for a program or history plot -->
<div id="blank-program" style="display: none;">
  {% include "program_form.html" %}
</div>

<div id="blank-history-plot" style="display: none;">
  {% include "history_plot_form.html" %}
</div>