{% extends "base.html" %}
{% block content %}
<script src="{{ url_for('static', filename='form.js') }}" charset="utf-8"></script>
<form method="post" name="report" role="form" id="report" action="{{ url_for('create_report') }}">
  <div id="heading" class="row">
    <h3>New Weekend Report for <input id="start" name="start" type="date" placeholder="mm/dd/yyyy"> to <input id="end" name="end" type="date" placeholder="mm/dd/yyyy"></h3>
  </div>
  <div id="program-list" class="row">
    
  </div>
  <div class="add row">
    <div class="col-sm-12" style="text-align: right;">
      <a id="add-program" href="#">Add another program</a> | <a id="add-history-plot" href="#">Add a history plot</a> | <a id="save-report" href="#">Save report</a>
    </div>
  </div>
  <div id="blank-program" style="display: none;">
    <div class="program-row row">
      <div class="program-notes col-sm-7">
        <input type="hidden" name="program" value="">
        <input class="ordering-number" type="hidden" name="program-order-" value="">
        <span class="program-name"><input class="name" name="name-" placeholder="Name" size="10"></span>
        <table>
          <tr>
            <th>Time</th>
            <td><input name="time_note-"></td>
          </tr>
          <tr>
            <th>Configuration</th>
            <td><input name="config_note-"></td>
          </tr>
          <tr>
            <th>Performance</th>
            <td><input name="performance_note-"></td>
          </tr>
        </table>
        <ul class="notes-list">
          <li><input name="other_note-" placeholder="Note" size="80"></li>
        </ul>
        <a href="#" class="add-note">Add another note</a>
      </div>
      <div class="downtime-inputs col-sm-4">
        <table>
          <tr>
            <th>Downtime</th>
            <td><input name="downtime-" placeholder="0.0"></td>
          </tr>
          <tr>
            <th>Config Changes</th>
            <td><input name="config_changes-" placeholder="0.0"></td>
          </tr>
          <tr>
            <th>Delivered</th>
            <td><input name="delivered-" placeholder="0.0"></td>
          </tr>
        </table>
      </div>
      <div class="col-sm-1">
        <a href="#" class="remove-program">Remove</a>
      </div>
    </div>
  </div>
  
  <div id="blank-history-plot" style="display: none;">
    <div class="history-row row" >
      <div class="col-sm-12">
        <input class="plot-number" type="hidden" name="history_plot" value="">
        <input class="ordering-number" type="hidden" name="plot-order-" value="">
        <input name="pv-" placeholder="Enter a PV" size="40"> <a class="plot-pv" href="#">Plot PV</a>
        <div class="add-event" style="display: none;">
          <input class="event-num" type="hidden" name="plot[]event" value="">
          <input class="event-text" name="plot[]event[]-text" placeholder="Event Text"> 
          <input class="event-timestamp" name="plot[]event[]-timestamp" placeholder="Feb 22, 2015 13:30:00">
          <a class="add-event" href="#">Add Event</a>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="history-plot mg-main-area-solid" id='history-'>

        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}